.btn-home {
	float: left;
	width: 5.5rem;
	height: 5rem;
	margin-right: auto;

	background-image: url(/img/icons/i-home.png);
	background-size: 2.3rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	cursor: pointer;
}