.contacts_address {
	padding-left: 3rem;
	background-image: url(/img/icons/i-location_blue.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 2rem;
	font-weight: 600;
	margin: 0 0 0 0;
	color: $color_blue-l;
}

.contacts_tel {
	padding-left: 3rem;
	background-image: url(/img/icons/i-phone_blue.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 2.2rem;
	font-weight: 600;
	margin: 0 0 0 0;
	color: $color_blue-l;
}