.event {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	@include flex-row(wrap, center, center);

	padding: 1rem 50% 1rem 3rem;
	text-align: center;
}

.event__date {
	flex: 1 1 100%;
	font-size: 1.4rem;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}

.event__name {
	flex: 1 1 100%;
	font-size: 1.4rem;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
}

.event__date_day {
	font-size: 3.6rem;	
	font-weight: 400;
}