.follow-insta {
	background-color: #efefef;
	flex: 1 1 40%;
	padding: 2.1rem;
	height: 14.9rem;
	margin-right: 0;
}

.follow-insta__heading {
	color: $color_green-d;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	margin: 0 0 1.4rem 0;
}

@media screen and (max-width: 567px) {
	.follow-insta {
		flex: 1 1 100%;
		margin: 0 0 $gutter 0;
	}
}