.hero {
	// height: 100vh;
	height: 90rem;

	padding-top: 20rem;
	margin-top: -20rem;
	margin-bottom: $gutter;

	background-image: url(/img/bg/hero.jpg);
	background-position: 50% 0%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

	h1 {
		padding: 16rem 0 7.5rem 0;
		font-size: 3.6rem;
		line-height: 4.3rem;
		text-transform: uppercase;
		margin: 0;
		color: #fff;
		font-weight: 800;
		text-shadow: -1px 0 1px rgba(0,0,0,.5);
	}

	& > .container {
		@include flex-row(nowrap, space-between, stretch);
		position: relative;
	}
}

.hero__offer {
	// flex: 1 1 70%;
	// overflow: hidden;
	height: 100%;
	
}
.hero__cta {
	position: absolute;
	right: 0;
	flex: 1 1 30%;
	align-self: flex-end;
}

.hero__num-col {
	float: left;
	margin-right: 8rem;
	p,span {
		color: #fff;
		text-shadow: -1px 0 1px rgba(0, 0, 0, 0.5);
	}

	p {
		font-size: 4.6rem;
		font-weight: 900;
		margin: 0 0 .5rem 0;
	}

	span {
		font-size: 1.8rem;
		font-weight: 500;
	}
}

@media screen and (max-width: 1100px) {
	.hero {
		height: 90rem;
		background-attachment: scroll;

		h1 {
			flex: 1 1 100%;
			text-align: center;
			padding: 7.5rem 0 7.5rem 0;
		}

		.container {
			@include flex-row(wrap, space-between, flex-start);
			// height: 100%;
		}
	}

	.hero__offer {
		position: relative;
		flex: 1 1 100%;
		margin-bottom: $gutter;
		// height: 100%;
	}
	.hero__cta {
		flex: 1 1 100%;

		left: 0;
		right: 0;
		bottom: -15rem;
	}
	.hero__num-col {
		width: 33.3%;
		margin-right: 0;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.hero {
		h1 {
			font-size: 2.8rem;
			line-height: 3.4rem;
		}
	}
}


@media screen and (max-width: 568px) {
	.hero {
		height: 100rem;
		h1 {
			padding: 3rem 0;
			font-size: 2rem;
			line-height: 2.4rem;
			// font-size: 1.3rem;
			flex: 1 1 100%;
		}
	}

	.hero__offer {
		// @include flex-row(wrap, space-around, flex-start);
	}
	.hero__num-col {
		flex: 1 1 100%;
   		margin-bottom: 2rem;

		p {font-size: 2.8rem;}
		span { font-size: 1.7rem;}
	}
	.hero__cta {
		bottom: -19rem;
	}
}