.hero {
	// padding: 2rem 0 19rem 0;



	height: 100vh;

	padding-top: 20rem;
	margin-top: -20rem;

	background-image: url(/img/bg/hero.jpg);
	background-position: 50% 0%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

	h1 {
		padding: 16rem 0 16rem 0;
		font-size: 3.6rem;

	}

	.container {
		@include flex-row(nowrap, space-between, stretch);
	}
}

.hero__offer {
	flex: 1 1 70%;
}
.hero__cta {
	flex: 1 1 30%;
	align-self: flex-end;
}
