.hero {
	// height: 100vh;
	height: 90rem;

	padding-top: 20rem;
	margin-top: -20rem;
	margin-bottom: $gutter;

	background-image: url(/img/bg/hero.jpg);
	background-position: 50% 0%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

	h1 {
		padding: 16rem 0 7.5rem 0;
		font-size: 3.6rem;
		text-transform: uppercase;
		margin: 0;
	}

	.container {
		@include flex-row(nowrap, space-between, stretch);
	}
}

.hero__offer {
	flex: 1 1 70%;
	
}
.hero__cta {
	flex: 1 1 30%;
	align-self: flex-end;
}

.hero__num-col {
	float: left;
	margin-right: 8rem;
	p,span {
		color: #fff;
		text-shadow: -1px 0 1px rgba(0, 0, 0, 0.5);
	}

	p {
		font-size: 4.6rem;
		font-weight: 900;
		margin: 0 0 .5rem 0;
	}

	span {
		font-size: 1.8rem;
		font-weight: 500;
	}
}