.nav-main {
	flex-grow: 1;

	@include flex-row(nowrap, space-between, center);
	height: 5rem;

	&>a {
		color: #fff;
	}
}

.nav-main__buttons {
	// @include flex-row(nowrap, flex-start, center);
	width: 11rem;
	overflow: auto;
	// margin-right: auto;
}

.nav-main__links {
	@include flex-row(nowrap, flex-start, center);
	list-style: none;

	transition: 500ms;
	& > li {

		position: relative;
		margin: 0 0rem 0 0;
		padding: 1.7rem 0;
		margin-right: 2.8rem;
		color: #fff;
		background-color: transparent;
		z-index: 2;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 600;
		cursor: default;
		list-style: none;
		// border-top: 5px solid transparent;

		transition: 200ms;
		&:nth-child(1) { transition-delay: 50ms; }
		&:nth-child(2) { transition-delay: 100ms; }
		&:nth-child(3) { transition-delay: 150ms; }
		&:nth-child(4) { transition-delay: 200ms; }

		&:nth-child(4) { margin-right: 0; }
		

		// &:before {
		// 	@include pseudo;
		// 	top: 0;
		// 	bottom: 0;
		// 	left: 0;
		// 	right: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: #fff;
		// 	transform: translateY(-120%);
		// 	opacity: 0;
		// 	z-index: -1;
		// 	transition: 500ms;
		// }

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			// padding-top: 2.5rem;
			// transform: translateY(-5px);
			// border-top: 5px solid #fff;
			// background-color: #fff;
			// color: $color_blue-d;

			// &:before {
			// 	transform: none;
			// 	opacity: 1;
			// }
		}
	}
}

.nav-main__links_removed {
	& > li {
		
			transform: translateY(-5rem)


	}
}