.object-thumbnail {
	position: relative;
	width: 23%;
	// flex: 1 1 21%;
	// max-width: 22.99%;
	margin: 0 2.666% $gutter 0;
	height: 28.5rem;
	float: left;

	text-decoration: none;
	cursor: pointer;

	overflow: hidden;

	@include flex-row(nowrap, center, flex-end);

	// &:nth-child(4n) {
	// 	margin-right: 0;
	// }

	&:before {
		@include pseudo;

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		width: 100%;
		height: 100%;

		background-color: #000;
		opacity: .5;
		z-index: 2;

		transform: translateX(100%);

		transition: 300ms;

	}

	&:hover {
		// .object-thumbnail__text {
		// 	height: 11rem;
		// }


		// .object-thumbnai__img  {
		// 	transform: scale(1.1);

		// 	&:after {
		// 		opacity: .2;
		// 	}
		// }

		.object-thumbnail__text {
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
		}

		.object-thumbnail__more {
			transform: none;
		}

		// &:before {
		// 	transform: translateX(-100%);
		// }
	}
}

.object-thumbnai__img {
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-size: cover;
	background-position: 50% 50%;

	transition: 400ms;

    &:after {
    	@include pseudo;
    	width: 100%;
    	height: 100%;

    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;

    	transition: 300ms;
    	background-color: #000;
    	opacity: 0;
    }
}

.object-thumbnail__text {
    width: 100%;
    height: 6rem;
    padding: 1.4rem 1rem 1rem 2.2rem;
    overflow: hidden;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 2;

    transition: 450ms;
}

.object-thumbnail__heading {
	color: #fff;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 0 3.5rem 0;
	text-shadow: -1px 0 1px rgba(0, 0, 0, 0.5);
}

.object-thumbnail__short {
	margin-top: 0;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 400;
	margin-top: 0;
	text-shadow: -1px 0 1px rgba(0, 0, 0, 0.5);
}

.object-thumbnail__more {
	position: absolute;
	bottom: 0;
	left: 0;
	// border: 1px solid rgba(0,0,0,.5);
	// right: 50%;
	// transform: translateX(50%);
	width: 100%;
	text-align: center;
	padding: 15px 0;
	background-color: $color-green-l;
	color: #fff;
	font-weight: 600;

	transform: translateY(100%);
	transition: 300ms;
	transition-delay: 80ms;

	&:before {
		@include pseudo;
		right: 7.5rem;
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);

		width: 1rem;
		height: 1rem;

		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;

		transition: 200ms;

	}
	
	&:hover {
		background-color: $color_green-d;
		color: #fff;
		&:before {
			right: 7rem;
		}
	}
}


// иконки типов объектов
.object-thumbnail_type-nature {

	.icon_type {
		background: url(/img/icons/i-type_nature.png) #266293;
	}
}
.object-thumbnail_type-cardio {

	.icon_type {
		background: url(/img/icons/i-type_heart.png) #266293;
	}
}
.object-thumbnail_type-food {

	.icon_type {
		background: url(/img/icons/i-type_food.png) #266293;
	}
}
.object-thumbnail_type-history {

	.icon_type {
		background: url(/img/icons/i-type_building.png) #266293;
	}
}

@media screen and (min-width: 1200px) {
	.object-thumbnail {
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
}

// @media screen and (min-width: 960px) and (max-width: 1341px) {
// 	.object-thumbnail {
// 		flex: 1 1 30%;		
// 		max-width: 31.4%;
// 	}
// 	&:nth-child(3n) {
// 		margin-right: 0;
// 	}

// }

@media screen and (min-width: 960px) and (max-width: 1199px) {
	.object-thumbnail {
		width: 31.33%;
   		margin-right: 3%;
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

@media screen and (min-width: 667px) and (max-width: 959px) {
	.object-thumbnail {
		width: 48%;
   		margin-right: 4%;
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

@media screen and (min-width: 1px) and (max-width: 666px) {
	.object-thumbnail {
		width: 100%;
   		margin-right: 0;
	}

	.object-thumbnail__short {
		display: none;
	}
}

// @media screen and (min-width: 768px) and (max-width: 960px) {
// 	.object-thumbnail {
// 		flex: 1 1 45%;
//    		max-width: 100%;
// 	}
// 	&:nth-child(2n) {
// 		margin-right: 0;
// 	}
// 	&:last-child {
// 		margin-right: 0;
// 	}
// }

// @media screen and (max-width: 767px) {
// 	.object-thumbnail {
// 		flex: 1 1 100%;
//    		max-width: 100%;
//    		margin-right: 0;
// 	}
// }

// @media screen and (min-width: 0px) and (max-width: 1245px) {
// 	.object-thumbnail {
// 		flex: 0 1 31.3%;		
// 	}
// 	&:nth-child(3n) {
// 		margin-right: 0;
// 	}

// }