.press-section {
	@include flex-row(wrap, space-between, stretch);
	margin-bottom: $gutter;
}


// sections
.press-section_news {
	flex: 1 1 100%;
}
.press-section_articles {
	// background-color: lightgray;
	flex: 1 1 40%;
	margin-right: $gutter;

	@include flex-row(wrap, space-between, stretch);
}
.press-section_blog {
	// background-color: lightgray;
	flex: 1 1 40%;
	margin-right: 0;
}

.press-section_events {
	background-color: #efefef;
	flex: 1 1 40%;
	margin: 0 $gutter 0 0;
	height: 12.8rem;
	overflow: hidden;
}

.press-section_subscribe {
	flex: 1 1 40%;
	margin-right: 0;
	height: 12.8rem;

	@include flex-row(nowrap, space-between, flex-start);
}


.press-section__rubric {
	flex: 1 1 100%;
	margin-bottom: $gutter;

	span {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 10rem;
		height: 3rem;
		
		color: #fff;
	}
}

.press-section__rubric_news {
	background-color: $color_green-l;
}
.press-section__rubric_articles {
	background-color: $color_blue-d;
}
.press-section__rubric_blog {
	background-color: $color_blue-l;
}

@media screen and (max-width: 1280px) {
	.press-section_events {
		flex: 1 1 30%;
		margin: 0 $gutter 0 0;
	}
	.press-section_subscribe {
		flex: 1 1 60%;
	}
}

@media screen and (max-width: 1000px) {
	.press-section_events {
		flex: 1 1 100%;
		margin: 0 0 $gutter 0;
		height: 22rem;
	}
	.press-section_subscribe {
		flex: 1 1 60%;
	}
}

@media screen and (max-width: 768px) {
	.press-section_articles {
		flex: 1 1 100%;
		margin: 0 0 $gutter 0;
		margin-rigth: 0;
	}
	.press-section_blog {
		flex: 1 1 100%;
		margin: 0 0 $gutter 0;
	}
	.press-section_events {
		margin-right: 0;
	}
}

@media screen and (max-width: 567px) {
	.news-item__img {
		display: none;
	}

	.press-section_subscribe {
		flex: 1 1 100%;
		margin: 0 0 $gutter 0;
		height: 28.8rem;


		@include flex-row(wrap, space-between, flex-start);
	}

	.press-section_events {
		display: none;
	}
}