.weather {
	position: absolute;
	right: 3rem;
	top: 8rem;

	@include flex-row(nowrap, flex-start, center);
	
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;

	span {
		color: #fff;
	}
}