.weather {
	position: absolute;
	right: 3rem;
	top: 8rem;

	@include flex-row(nowrap, flex-start, center);
	
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;

	transition: 300ms;

	span {
		color: #fff;
	}
}


@media screen and (max-width: 1230px) {
	.weather {
		top: 1.3rem;
	}
}

@media screen and (max-width: 667px) {
	.weather {
		top: 1.7rem;
		span {
			font-size: 1.2rem;
		}
	}
}