.logo {
	display: inline-block;
	width: 30rem;
	height: 17.5rem;
	text-decoration: none;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;

	transition: 200ms;
	background-image: url(/img/logo.jpg); 
	background-size: cover;

	// &:hover {
	// 	opacity: .75;
	// }

	// &:visited {
	// 	color: #fff;
	// }
}

/* icon layout */

.icon {
	@include flex-row(wrap, space-between, flex-start);
	position: relative;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;

	transition: 150ms;

	&:after {
		@include pseudo;
		top: 50%;
	    left: 50%;
	    transform: translateY(-50%) translateX(-50%);
	}
}
	
/* icon position */

.icon_calc {
	background: url(/img/icons/i-calc.png);
	width: 4rem;
	height: 4rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 4rem;
	margin: 0 2rem 0 3.5rem;
}

.icon_specials {
	background: url(/img/icons/i-spec.png);
	width: 4rem;
	height: 4rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 3.5rem;
	margin: 0 2rem 0 3.5rem;
}

.icon_sun {
	background: url(/img/icons/i-sun.png);
	width: 2.4rem;
	height: 2.4rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 2.4rem;
	margin: 0 2rem 0 3.5rem;
}

.icon_inst {
	width: 4rem;
	height: 4rem;

	background-image: url(/img/icons/i-insta.png);
	background-repeat: no-repeat;
	background-size: 3.9rem;
	background-position: 50% 50%;
	margin: 0 auto;
}

.icon_location {
	width: 2.1rem;
	height: 2.1rem;

	background-image: url(/img/icons/i-location.png);
	background-repeat: no-repeat;
	background-size: 1.4rem;
	background-position: 50% 50%;
	margin: 0 .8rem 0 1.9rem;	
}

.icon_type {
	position: absolute;

	top: 0;
	right: 0;

	width: 5rem;
	height: 5rem;

	background: url(/img/icons/i-type_building.png) #266293;
	background-repeat: no-repeat !important;
	background-size: 2.8rem !important;
	background-position: 50% 50% !important;
	// margin: 0 auto;
}


@media screen and (max-width: 1024px) {
	.page-header__nav .logo_header,
	.logo_header {
		font-size: 2rem;
		line-height: 2rem;
	}
}

@media screen and (max-width: 667px) {
	.logo_header {
		height: 45%;
	    background-size: contain;
	    background-position: 0 50%;
	}

	// .logo_menu {
	// 	height: 8rem;
	// 	background-size: contain;
	// 	background-position: 50% 50%;
	// 	margin-bottom: 4rem;
	// }
	.logo_footer {
		margin-bottom: 6rem;
	}
}

@media screen and (max-width: 667px) {
	.logo_footer {
		text-align: center;
	}
}

@media screen and (max-width: 614px) {
	.logo_menu {
		background-position: 50% 50%;
		height: 11rem;
	}
	.page-header__nav .logo_header,
	.logo_header {
		font-size: 1.8rem;
		line-height: 1.8rem;
	}
	.logo_menu,
	.logo_footer {
		text-align: center;
	}
}

